In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
# Stack Overflow: Getting Google Spreadsheet CSV into A Pandas Dataframe
# http://stackoverflow.com/questions/19611729/getting-google-spreadsheet-csv-into-a-pandas-dataframe

prez = pd.read_csv('https://docs.google.com/spreadsheets/d/' +
            '1bqxK6GCYehFj8jICfbDVoje1LuOvo-W_2UjkZXhDN1M' +
            '/export?format=csv&id'
           , index_col = 0)

In [3]:
prez.head()

,Full Name,DOB,State,Term of Office,Party,Previous Office
Number,,,,,,
1,George Washington,"February 22, 1732 - December 14, 1799\n (Aged 67)",Virginia,"April 30, 1789\n -\n March 4, 1797",Non-partisan,Commander-in-Chief\n of the\n Continental Army...
2,John Adams,"October 30, 1735 - July 4, 1826\n (aged 90)",Massachusetts,"March 4, 1797\n - \n March 4, 1801",Federalist,1st\n Vice President of the United States
3,Thomas Jefferson,"April 13, 1743 - July 4, 1826\n (aged 83)",Virginia,"March 4, 1801\n - \n March 4, 1809",Democratic-\n Republican,2nd\n Vice President of the United States
4,James Madison,"March 16, 1751 - June 28, 1836\n (aged 85)",Virginia,"March 4, 1809\n - \n March 4, 1817",Democratic-\n Republican,5th\n United States Secretary of State\n (1801...
5,James Monroe,"April 28, 1758 - July 4, 1831\n (aged 73)",Virginia,"March 4, 1817\n - \n March 4, 1825",Democratic-\n Republican,7th\n United States Secretary of State\n (1811...

In [64]:
gdp_year = pd.read_excel('http://www.bea.gov/national/xls/gdplev.xls' 
                    ,'Sheet1', index_col=0, usecols=[0,1,2]
                    ,skiprows=5, skip_blank_lines=True, skip_footer=189)
gdp_year.dropna(axis=0, how='all',inplace=True)

In [35]:
cpi = pd.read_table('CPI.txt', usecols=[0,3], index_col=0
                    ,delim_whitespace=True,skip_blank_lines=True)
cpi.head()

      Annual_avg
Year
1913         9.9
1914        10.0
1915        10.1
1916        10.9
1917        12.8

In [6]:
unemp_rate = pd.read_csv('unemployment_rate.txt',index_col='Year')

In [7]:
# calculate mean for year
unemp_rate['yearly_mean'] = unemp_rate.mean(axis=1)

In [36]:
unemp_rate.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,yearly_mean
Year,,,,,,,,,,,,,,
1948,3.4,3.8,4.0,3.9,3.5,3.6,3.6,3.9,3.8,3.7,3.8,4.0,,3.4
1949,4.3,4.7,5.0,5.3,6.1,6.2,6.7,6.8,6.6,7.9,6.4,6.6,,4.3
1950,6.5,6.4,6.3,5.8,5.5,5.4,5.0,4.5,4.4,4.2,4.2,4.3,,6.5
1951,3.7,3.4,3.4,3.1,3.0,3.2,3.1,3.1,3.3,3.5,3.5,3.1,,3.7
1952,3.2,3.1,2.9,2.9,3.0,3.0,3.2,3.4,3.1,3.0,2.8,2.7,,3.2

In [8]:
trade = pd.read_excel('gands.xls', skiprows=6, index_col=0, usecols=range(0,10)
             ,skipfooter=4, header=None,skip_blank_lines=True)

In [9]:
trade.columns = [['Balance']*3 + ['Exports']*3 + ['Imports']*3
                 , ['Total','Goods BOP','Services']*3]

In [10]:
trade.index.name = 'Year'

In [12]:
trade.head()

     Balance                    Exports                    Imports            \
       Total Goods BOP Services   Total Goods BOP Services   Total Goods BOP
Year
1960    3508      4892    -1384   25940     19650     6290   22432     14758
1961    4195      5571    -1376   26403     20108     6295   22208     14537
1962    3370      4521    -1151   27722     20781     6941   24352     16260
1963    4210      5224    -1014   29620     22272     7348   25410     17048
1964    6022      6801     -779   33341     25501     7840   27319     18700


     Services
Year
1960     7674
1961     7671
1962     8092
1963     8362
1964     8619

In [ ]:
# first year of trade is 1960
# gdp 1929
# cpi 1913
# unemployment rate 1948

In [53]:
trade_tot = trade.loc[:,trade.columns.get_level_values(1)=='Total']

In [65]:
frames = [trade_tot, unemp_rate.yearly_mean, cpi,gdp_year]

In [68]:
cleaned = pd.concat(frames, axis = 1)